[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/Sparky4567/terminal.git
[submodule "themes/themes/terminal"]
	path = themes/themes/terminal
	url = https://github.com/Sparky4567/terminal.git
