<script defer="defer">
	window.addEventListener("load",()=>{
		class imageGallery{
		constructor(){
			this.imageSelector = document.querySelectorAll(".posts > img")
			this.title = `newImage`
		}

		reconstruct(){
			this.imageSelector.forEach(element => {
				console.log(element)
				if(!String(element.src).includes("svg") && String(element.src).includes("/images/")){
					if(element.offsetWidth > 200){ 
				let previousHtml = element.parentNode.innerHTML;
				let newElement = `<a href="${element.src}" data-lightbox="image-1" data-title="${this.title}"><img src="${element.src}"></a>`;
				let parentNode = element.parentNode;
				console.log(previousHtml)
				console.log(element)
				let newHtml = String(previousHtml).replace(String(element.outerHTML),newElement)
			    parentNode.innerHTML = newHtml
				}
				}
				
			});
			let s = document.createElement("script");
			s.defer = "defer";
			s.src = "/lightbox.js";
			document.body.appendChild(s);
		}
	}
	if(String(window.location.pathname).includes("/posts/")){
		let s = new imageGallery();
		s.reconstruct();
	}
	
	})
</script>